In [1]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
emp_info ={}
emp_info['Tom']={'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
emp_info['Kathy']={'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
print(emp_info['Tom'])
print(emp_info['Kathy'])
# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [13]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
d1={}
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1 = ['John', 'SG101', '$10,000']
emp2 = ['Smith', 'SG102', '$9,000']
emp3 = ['Peter', 'SG103', '$9,500']
for i in range(0,len(lst1)):
    if(i==0):
        l=emp1
    elif(i==1):
        l=emp2
    else:
        l=emp3
    d2={}
    for j in range(0,len(emp_key)):
        #print(l)
        d2[emp_key[j]]=l[j]
    #print(d2)
    d1[lst1[i]]=d2
print(d1)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [14]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['marks']['history'])

80

In [15]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
d={}
for i in employees:
    d[i]=defaults
print(d)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [38]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.
l1=['A','T','C','G']
l2=['U','A','G','C']
d={}
for i in range(0,len(l1)):
    d[l1[i]]=l2[i]
print(d)
    
# Use a dictionary to provide the mapping of DNA to RNA bases.

{'A': 'U', 'T': 'A', 'C': 'G', 'G': 'C'}

In [40]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
string='google.com'
d={}
for i in string:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]+=1
print(d)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [42]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
l1=['A','T','C','G']
d={}
string="AGT"
for i in string:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]+=1
for i in l1:
    if i not in d.keys():
        d.setdefault(i,0)
print(d)
    
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

{'A': 1, 'G': 1, 'T': 1, 'C': 0}

In [37]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.
o/p: None of the above.

{'Name': ''}

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.
o/p: d.values()

In [31]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" } o/p:Valid
# 2. d = { (1,3,4): 4.5 } o/p:Valid
# 3. d = { ["First", "Last"]: (1,3) } o/p:Invalid
# 4. d = { 1: 0.4 } o/p:Valid
# 5. None of the above
d = { 1: 0.4 }
print(d)

{1: 0.4}

In [50]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []
def reverseLookup(dictionary, value):
    l=[]
    for i in dictionary:
        if dictionary[i]==value:
            l.append(i)
    l.sort()
    return l
            
l=reverseLookup({'a':1, 'b':2, 'c':2}, 3)
print(l)

[]

In [78]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

def invertDictionary(d):
    new_d={}
    new_l=[]
    for key,value in d.items():
        #print(key,value)
        val=d[key]
        l=[]
        #l.append(key)
        l1=new_d.get(val,l)
        l1.append(key)
        new_d[val]=l1
    return new_d
        
res_d=invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
print(res_d)

{2: ['a', 'c'], 1: ['b', 'd']}

In [82]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def convertVector(l):
    d={}
    for index,value in enumerate(l):
        #print(index,value)
        if (value!=0):
            d.update({index:value})
    print(d)



convertVector([0, 0, 0, 0, 0])

{}

In [93]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

def convertDictionary(d):
    l=list(d.keys())
    l.sort()
    last=l[len(l)-1] if len(l)>0 else -1
    res_l=[]
    for i in range(0,last+1):
        res_l.append(d.get(i,0))
    print(res_l)

convertDictionary({})

[]

In [27]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }
sampleDict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
 }
for i in sampleDict.keys():
    if(sampleDict[i]['name']=='Brad'):
        sampleDict[i]['salary']=8500
print(sampleDict)

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [24]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }
sampleDict = {
'Physics': 82,
'Math': 65,
 'history': 75
}
smallest=999999999
for i in sampleDict:
    if sampleDict[i]<smallest:
        smallest=sampleDict[i]
        key=i
print(key)

# Expected Output
# Math

Math

In [23]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}
new_dict={}
for i in sampleDict.items():
    if(i[0]=="city"):
        key="location"
    else:
        key=i[0]
    new_dict[key]=i[1]
print(new_dict)

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [18]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}
sampleDict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sampleDict.values():
    print(True)

# Expected Output: True

True

In [17]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
keysToRemove = ["name", "salary"]
for i in keysToRemove:
    if i in sampleDict:
        sampleDict.pop(i)
print(sampleDict)

{'age': 25, 'city': 'New york'}