In [1]:
#Question1
'''Write a Python program to create and display a one-dimensional array-like object containing an array of data using
Pandas module.'''

import pandas as pd
s1 = pd.Series([1,2,3,'Hi'])s
print(s1)

0     1
1     2
2     3
3    Hi
dtype: object

In [3]:
#Question2
#Write a Python program to convert a Panda module Series to Python list and its type.

s2 = pd.Series([1,2,3,'Hi'])
l=list(s2)
print(l,type(l))

[1, 2, 3, 'Hi'] <class 'list'>

In [9]:
#Question3
#Write a Python program to add, subtract, multiple and divide two Pandas Series.

s1 = pd.Series([1,2,3])
s2 = pd.Series([1,2,3,4])
add=s1+s2
sub=s1-s2
mul=s1*s2
div=s1/s2
print("Add: ",add)
print("Sub: ",sub)
print("Multiply: ",mul)
print("Divide: ",div)

Add:  0    2.0
1    4.0
2    6.0
3    NaN
dtype: float64
Sub:  0    0.0
1    0.0
2    0.0
3    NaN
dtype: float64
Multiply:  0    1.0
1    4.0
2    9.0
3    NaN
dtype: float64
Divide:  0    1.0
1    1.0
2    1.0
3    NaN
dtype: float64

In [11]:
#Question4
#Write a Python program to compare the elements of the two Pandas Series.

s1 = pd.Series([1,2,3])
s2 = pd.Series([1,2,3])
print(s1>s2)
print(s1==s2)

0    False
1    False
2    False
dtype: bool
0    True
1    True
2    True
dtype: bool

In [12]:
#Question5
#Write a Python program to display the following data columnwise.

#No data was given in the question

In [13]:
#Question6
#Write a Python program to create and display a Data Frame from a specified dictionary data which has the index labels.

data = {
    'name':['a','b','c'],
    'age':[21,20,19],
    'sex':['male','female','female']
}

df = pd.DataFrame(data,index=['name_label','age_label','sex_label'])
print(df)

           name  age     sex
name_label    a   21    male
age_label     b   20  female
sex_label     c   19  female

In [16]:
#Question7
#Write a Python program to select the specified columns and rows from a given Data Frame.

#Inorder to select a column
print(df['name'])
#Inorder to select a row
print(df.loc['name_label'])

name_label    a
age_label     b
sex_label     c
Name: name, dtype: object
name       a
age       21
sex     male
Name: name_label, dtype: object

In [17]:
#Question8
#Write a Python program to select the rows the score is between 15 and 20 (inclusive).

data = {
    'name':['a','b','c'],
    'age':[21,20,19],
    'sex':['male','female','female'],
    'score':[30,16,20]
}

df = pd.DataFrame(data)
n_df = df[(df.score>=15) & (df.score<=20)]
print(n_df)

  name  age     sex  score
1    b   20  female     16
2    c   19  female     20

In [18]:
#Question9
'''Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than
15.'''

data = {
    'name':['a','b','c'],
    'age':[21,20,19],
    'sex':['male','female','female'],
    'score':[30,16,20],
    'no_of_attempts':[1,0,2]
}

df = pd.DataFrame(data)
n_df = df[(df.score>15) & (df.no_of_attempts<2)]
print(n_df)

  name  age     sex  score  no_of_attempts
0    a   21    male     30               1
1    b   20  female     16               0

In [29]:
#Question10
'''Write a Python program to append a new row 'k' to Data Frame with given values for each column. Now delete the new row and
return the original data frame.'''
data = {
    'name':['a','b','c'],
    'age':[21,20,19],
    'sex':['male','female','female'],
    'score':[30,16,20],
    'no_of_attempts':[1,0,2]
}

df = pd.DataFrame(data)
print(df)

n_data = {
    'name':['n'],
    'age':[30],
    'sex':['male'],
    'score':[20]
}
n_df = pd.DataFrame(n_data,index=['k'])
print(n_df)

res_df=pd.concat([df,n_df])
print(res_df)
res_df.drop('k')

  name  age     sex  score  no_of_attempts
0    a   21    male     30               1
1    b   20  female     16               0
2    c   19  female     20               2
  name  age   sex  score
k    n   30  male     20
  name  age     sex  score  no_of_attempts
0    a   21    male     30             1.0
1    b   20  female     16             0.0
2    c   19  female     20             2.0
k    n   30    male     20             NaN

  name  age     sex  score  no_of_attempts
0    a   21    male     30             1.0
1    b   20  female     16             0.0
2    c   19  female     20             2.0

In [33]:
#Question11
#Write a Python program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order.

data = {
    'name':['a','b','c'],
    'age':[21,20,19],
    'sex':['male','female','female'],
    'score':[16,30,20],
    'no_of_attempts':[1,0,2]
}

df = pd.DataFrame(data)
print(df)
df.sort_values(by="name",ascending=False,inplace=True)
df.sort_values(by="score",ascending=False,inplace=True)
print(df)

  name  age     sex  score  no_of_attempts
0    a   21    male     16               1
1    b   20  female     30               0
2    c   19  female     20               2
  name  age     sex  score  no_of_attempts
1    b   20  female     30               0
2    c   19  female     20               2
0    a   21    male     16               1

In [34]:
#Question12
#Write a Python program to insert a new column in existing DataFrame.

data = {
    'name':['a','b','c'],
    'age':[21,20,19],
    'sex':['male','female','female'],
    'score':[16,30,20],
    'no_of_attempts':[1,0,2]
}

df = pd.DataFrame(data)

df['country']='India'
print(df)

  name  age     sex  score  no_of_attempts country
0    a   21    male     16               1   India
1    b   20  female     30               0   India
2    c   19  female     20               2   India

In [36]:
#Question13
#Write a Python program to change the name 'James' to 'Suresh' in name column of the data frame.
import numpy as np 

data = {
    'name':['James','b','James'],
    'age':[21,20,19],
    'sex':['male','female','female'],
    'score':[16,30,20],
    'no_of_attempts':[1,0,2]
}

df = pd.DataFrame(data)
condition = [(df.name=='James')]
choice = ['Suresh']
df['name'] = np.select(condition,choice,df.name)
print(df)

     name  age     sex  score  no_of_attempts
0  Suresh   21    male     16               1
1       b   20  female     30               0
2  Suresh   19  female     20               2